.cards__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 375px) {
  .cards__list {
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .cards__list {
    gap: 33px;
  }
}

@media (min-width: 1280px) {
  .cards__list {
    gap: 20px;
  }
}

.cards__asideBlock {
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) {
  .cards__asideBlock {
    gap: 80px;
  }
}

@media (min-width: 768px) {
  .cards__asideBlock {
    gap: 65px;
  }
}

@media (min-width: 1600px) {
  .cards__asideBlock {
    gap: 40px;
  }
}

.cards__wrapper {
}

@media (min-width: 320px) {
  .cards__wrapper {
    width: 290px;
  }
}

@media (min-width: 375px) {
  .cards__wrapper {
    width: 335px;
  }
}

@media (min-width: 768px) {
  .cards__wrapper {
    width: 703px;
  }
}

@media (min-width: 1280px) {
  .cards__wrapper {
    width: 925px;
  }
}

.cards__block {
  display: flex;
}

@media (min-width: 320px) {
  .cards__block {
    flex-direction: column;
    gap: 80px;
  }
}

@media (min-width: 768px) {
  .cards__block {
    gap: 100px;
  }
}

@media (min-width: 1600px) {
  .cards__block {
    flex-direction: row;
    gap: 30px;
  }
}

.cards__item {
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #fafafa;
}

@media (min-width: 320px) {
  .cards__item {
    width: 290px;
  }
}

@media (min-width: 375px) {
  .cards__item {
    width: 335px;
    height: 390px;
  }
}

@media (min-width: 1280px) {
  .cards__item {
    width: 295px;
    height: 370px;
  }
}

.cards__item__img {
  height: 140px;
  width: 140px;
}

.cards__item__imgWrapper {
  border-radius: 10px;
  height: 178px;
  background-color: #e8e8e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 375px) {
  .cards__item__imgWrapper {
    width: 295px;
  }
}

@media (min-width: 1280px) {
  .cards__item__imgWrapper {
    width: 255px;
  }
}

.cards__item__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #010101;
}

.cards__item__desk {
  margin-top: 12px;
  font-weight: 400;
  font-size: 11px;
  line-height: 124%;
  color: rgba(1, 1, 1, 0.3);
}

.cards__item__desk--value {
  line-height: 150%;
  color: #010101;
}

.cards__item__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 131%;
  color: #010101;
}

.cards__item__basket {
  height: 34px;
  width: 34px;
  border-radius: 17px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #586f1f;
}

.cards__item__priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 320px) {
  .cards__item__priceWrapper {
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .cards__item__priceWrapper {
    margin-top: 31px;
  }
}

.cards__paginationBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media (min-width: 320px) {
  .cards__paginationBtns {
    gap: 9px;
  }
}

@media (min-width: 768px) {
  .cards__paginationBtns {
    gap: 36px;
  }
}

.cards__paginationBtns__btn {
  border: none;
  border-radius: 60px;
  width: 40px;
  height: 40px;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 320px) {
  .cards__paginationBtns__btn {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 768px) {
  .cards__paginationBtns__btn {
    width: 40px;
    height: 40px;
  }
}

.cards__btnGroup {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.cards__btn {
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #e8e8e2;
  cursor: pointer;
}

@media (min-width: 320px) {
  .cards__btn {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 768px) {
  .cards__btn {
    width: 40px;
    height: 40px;
  }
}

.cards__btnsBlock {
  display: flex;
}

.cards__btn:nth-last-child(-n + 1) {
  display: none;
}

@media (min-width: 768px) {
  .cards__btn:nth-last-child(-n + 1) {
    display: flex;
  }
}

