.cardsModal__overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
}

.cardsModal__block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardsModal__body {
  /* mobile first */
}

@media (min-width: 375px) {
  .cardsModal__body {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .cardsModal__body {
    width: 550px;
    padding: 25px 15px;
    background-color: #fafafa;
    border-radius: 20px;
    position: relative;
  }
}

.cardsModal__imgOverlay {
  border-radius: 10px;
  height: 178px;
  background-color: #e8e8e2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

@media (min-width: 320px) {
  .cardsModal__imgOverlay {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .cardsModal__imgOverlay {
    margin-bottom: 0;
  }
}

.cardsModal__img {
  height: 150px;
  width: 150px;
}

.cardsModal__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #010101;
}

.cardsModal__desk {
  margin-top: 12px;
  font-weight: 400;
  font-size: 11px;
  line-height: 124%;
  color: rgba(1, 1, 1, 0.3);
}

.cardsModal__desk--value {
  line-height: 150%;
  color: #010101;
}

.cardsModal__info {
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #010101;
}

.cardsModal__infoWrapper {
  width: 300px;
  height: 100px;
  scroll-behavior: auto;
  overflow-y: scroll;
}

.cardsModal__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 131%;
  color: #010101;
}

.cardsModal__button {
  height: 37px;
  width: 120px;
  border-radius: 17px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  background: #586f1f;
  cursor: pointer;
}

.cardsModal__priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 320px) {
  .cardsModal__priceWrapper {
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .cardsModal__priceWrapper {
    margin-top: 50px;
  }
}

.cardsModal__basket {
  margin-left: 10px;
}

.cardsModal__closeModal {
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

.cardsModal__bodyBlock {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 320px) {
  .cardsModal__bodyBlock {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .cardsModal__bodyBlock {
    flex-wrap: nowrap;
  }
}

.show {
  z-index: 1000;
  opacity: 1;
  pointer-events: all;
}

.bodyOverflow {
  overflow-y: hidden;
  margin-right: 18.3px;
}
