.cards__discount__list {
  margin: 0;
  display: flex;
  gap: 20px;
}

@media (min-width: 320px) {
  .cards__discount__list {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .cards__discount__list {
    flex-direction: row;
    margin-bottom: 50px;
  }
}

@media (min-width: 1600px) {
  .cards__discount__list {
    flex-direction: column;
  }
}

.cards__discount__item {
  position: relative;
  border-radius: 20px;
  padding: 15px;
  height: 235px;
  background-color: #fafafa;
}

@media (min-width: 320px) {
  .cards__discount__item {
    width: 290px;
  }
}

@media (min-width: 375px) {
  .cards__discount__item {
    width: 335px;
  }
}

@media (min-width: 1600px) {
  .cards__discount__item {
    width: 275px;
  }
}

.cards__discount__item__img {
  height: 114px;
  width: 114px;
}

.cards__discount__item__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cards__discount__item__imgWrapper {
  border-radius: 10px;
  height: 150px;
  background-color: #e8e8e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 375px) {
  .cards__discount__item__imgWrapper {
    width: 303px;
  }
}

@media (min-width: 1600px) {
  .cards__discount__item__imgWrapper {
    width: 243px;
  }
}

.cards__discount__item__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #010101;
}

.cards__discount__item__price {
  font-weight: 500;
  font-size: 19px;
  line-height: 123%;
  color: #010101;
}

.cards__discount__item__basket {
  height: 34px;
  width: 34px;
  border-radius: 17px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #586f1f;
  cursor: pointer;
}

.cards__discount__item__priceWrapper {
  display: flex;
  gap: 2px;
  align-items: center;
}

.cards__discount__discountImg {
  position: absolute;
  top: 5px;
  right: 10px;
}
