.filter__title {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 145%;
  color: rgba(1, 1, 1, 0.3);
}

.filter__search_box {
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .filter__search_box {
    gap: 8px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
}

.filter__search_input {
  padding: 17px 24px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: inherit;
  width: 100%;
  height: 52px;
}

@media (min-width: 768px) {
  .filter__search_input {
    width: 269px;
    padding: 15px 21px 15px 21px;
    font-size: 16px;
  }
}

.filter__search_space {
  position: relative;
}

.filter__sort {
  padding: 17px 24px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: inherit;
  width: 100%;
  height: 52px;
}

@media (min-width: 768px) {
  .filter__sort {
    width: 189px;
    padding: 15px 0px 15px 24px;
    font-size: 16px;
  }
}

.filter__catigories {
  padding: 17px 24px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: inherit;
  width: 100%;
  height: 52px;
}

@media (min-width: 768px) {
  .filter__catigories {
    width: 112px;
    padding: 15px 0px 15px 24px;
    font-size: 16px;
  }
}

.filter__search_button {
  background-color: inherit;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  left: 250px;
}

@media (min-width: 768px) {
  .filter__search_button {
    left: 230px;
  }
}
