.intro {
  margin-top: 35px;
}

.intro__box {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 72px;
  line-height: 111%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #010101;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .intro__title {
    width: 700px;
    white-space: normal;
  }
}

@media (max-width: 768px) {
  .intro__title {
    width: 650px;
    white-space: normal;
  }
}

@media (max-width: 375px) {
  .intro__title {
    font-size: 39px;
    width: 335px;
    white-space: normal;
  }
}

.intro__highlight {
  color: #6d8434;
}

.intro__subtitle {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 151%;
  text-align: center;
  color: rgba(1, 1, 1, 0.8);
}

@media (max-width: 375px) {
  .intro__subtitle {
    font-size: 12px;
    height: 55px;
    width: 200px;
  }
}

.intro__baner {
  margin-top: 35px;
}

.intro__img {
  object-fit: cover;
  border-radius: 60px;
  width: 1240px;
  height: 350px;
}

@media (max-width: 1600px) {
  .intro__img {
    width: 936px;
    height: 264px;
  }
}

@media (max-width: 1280px) {
  .intro__img {
    width: 936px;
    height: 264px;
  }
}

@media (max-width: 768px) {
  .intro__img {
    width: 704px;
    height: 580px;
  }
}

@media (max-width: 375px) {
  .intro__img {
    width: 335px;
    height: 480px;
  }
}

.intro__spinnerbox {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 130px;
  left: 1120px;
}

@media (max-width: 1600px) {
  .intro__spinnerbox {
    top: 150px;
    left: 825px;
  }
}

@media (max-width: 1280px) {
  .intro__spinnerbox {
    top: 230px;
    left: 600px;
  }
}

@media (max-width: 768px) {
  .intro__spinnerbox {
    top: 230px;
    left: 600px;
  }
}

@media (max-width: 375px) {
  .intro__spinnerbox {
    top: 190px;
    left: 180px;
  }
}

.intro__spinner {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
