.cards__popular__list {
  margin: 0;
  display: flex;
}

@media (min-width: 320px) {
  .cards__popular__list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 14px;
  }
}

@media (min-width: 768px) {
  .cards__popular__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (min-width: 1600px) {
  .cards__popular__list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 14px;
  }
}

.cards__popular__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 126%;
  color: #010101;
  margin-bottom: 20px;
}

.cards__popular__item {
  position: relative;
  border-radius: 20px;
  padding: 13px;
  height: 98px;
  background-color: #fafafa;
}

@media (min-width: 320px) {
  .cards__popular__item {
    width: 290px;
  }
}

@media (min-width: 375px) {
  .cards__popular__item {
    width: 335px;
  }
}

@media (min-width: 768px) {
  .cards__popular__item {
    width: 275px;
  }
}

.cards__popular__item__img {
  height: 59px;
  width: 59px;
}

.cards__popular__item__imgWrapper {
  border-radius: 10px;
  width: 72px;
  height: 72px;
  background-color: #e8e8e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__popular__item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 123%;
  color: #010101;
  margin-bottom: 11px;
}

.cards__popular__item__desk {
  font-weight: 400;
  font-size: 10px;
  line-height: 131%;
  color: rgba(1, 1, 1, 0.3);
}

.cards__popular__item__desk--value {
  line-height: 133%;
  color: #010101;
}

.cards__popular__item__basket {
  position: absolute;
  top: 15px;
  right: 17px;
  height: 20px;
  width: 20px;
  border-radius: 17px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #e8e8e2;
}

.cards__popular__item__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
