@import "./utils/common.css";
@import "./sections/header.css";
@import './sections/cart.css';
@import './utils/colors.css';
@import './utils/general.css';
@import './sections/card.css';
@import './sections/popularCard.css';
@import './sections/discountCard.css';
@import './sections/cardsModal.css';
@import './sections/intro.css';
@import './sections/filter.css';
@import './sections/footer.css';